<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_Customer::bank_details" title="Bank Details" translate="title" module="Magneto_TransferMethods" sortOrder="50" parent="Magento_Customer::customer" action="transfer/methods/" resource="Magento_Customer::bank_details"/>
    </menu>
</config>
