<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="gemfindringbuilder" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>gemfind</tab>
            <resource>Gemfind_Ringbuilder::config_ringbuilder</resource>
            <group id="design" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="maintenance_page" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maintenance Page</label>
                    <source_model>Magento\Cms\Model\Config\Source\Page</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
