<div class="receipt-chmain">
	<div><strong data-bind="i18n: 'Include Price in Receipt?'"></strong></div>
	<div class="receipt-checkout">
		<div class="radio-mainreceipt">
			<input type="radio" name="customCheckbox" value="1" id="customCheckbox_Yes" checked="checked" data-bind='checked: CheckVals'/><div data-bind="i18n: 'Yes'"></div>
		</div>
		<div class="radio-mainreceipt">
			<input type="radio" name="customCheckbox" value="0"  id="customCheckbox_No" data-bind='checked: CheckVals'/><div data-bind="i18n: 'No'"></div>
		</div>
	</div>
</div>
