<?xml version="1.0"?>
<!--
/**
 * @author Magneto Team
 * @copyright Copyright (c) 2021 Magneto (https://www.magnetoitsolutions.com)
 * @package Magneto_WireTransfer
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="wire_transfer_payment_instructions_config_provider" xsi:type="object">Magneto\WireTransfer\Model\InstructionsConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
