<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="aureatelabscustomrouter" xsi:type="array">
                    <item name="class" xsi:type="string">Customer\Sell\Controller\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">31</item>
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Customer\Sell\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">selldata</argument>
        </arguments>
    </virtualType>

    <type name="Customer\Sell\Model\Session">
        <arguments>
            <argument name="storage" xsi:type="object">Customer\Sell\Model\Session\Storage</argument>
        </arguments>
    </type>
</config>