<!--@subject {{trans "A Friend Wants To Share With You"}} @-->
<!--@vars {
"var logo_height":"Email Logo Image Height",
"var logo_width":"Email Logo Image Width",
"var template_styles|raw":"Template CSS"
} @-->
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{trans "A Friend Wants To Share With You"}}</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
  {{inlinecss file='Gemfind_Diamondsearch::css/email-inline.css'}}
  </head>
  <body class="">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            <table role="presentation" class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center"><a class="logo" href="{{store url=""}}">
                      <img
                                {{if logo_width}}
                                    width="{{var logo_width}}"
                                {{else}}
                                    width="180"
                                {{/if}}

                                {{if logo_height}}
                                    height="{{var logo_height}}"
                                {{else}}
                                    height="52"
                                {{/if}}

                                src="{{var logo_url}}"
                                alt="{{var logo_alt}}"
                                border="0"
                    />
                  </a></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td style="border-bottom: 1px solid #e8e8e8;">&nbsp;</td>
                  </tr>
                </table>
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="title-table">
                <tr>
                  <td>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><h2>{{trans "Dear"}} {{var name}},</h2></td>
                    </tr>
                    <tr>
                      <td>
                        <table style="height: 3px; width: 100px;" bgcolor="#26a9e0"></table>
                      </td>
                    </tr>
                  </table>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="margin-top: 20px;margin-bottom: 20px;" class="consumer-info">
                    <tr>
                      <td><p>{{trans "Your friend"}} {{var name}} {{trans "shared this gorgeous gift idea with You!"}}</p></td>
                    </tr>
                    <tr>
                      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="table-in">
                          <tbody>
                            <tr>
                              <td align="left">
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td class="consumer-title">{{trans "Additional Comments"}}:</td>
                                      <td class="consumer-name">{{var message}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </table>
                    </tr>
                    <tr>
                    <td>
                    </td>
                    </tr>
                  </table>

                <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="title-table">
                <tr>
                  <td>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><h2>{{trans "The Diamond Specifications are:"}}</h2></td>
                    </tr>
                    <tr>
                      <td>
                        <table style="height: 3px; width: 100px;" bgcolor="#26a9e0"></table>
                      </td>
                    </tr>
                  </table>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="margin-top: 20px;margin-bottom: 20px;" class="consumer-info">
                    <tr>
                    <td>
                    </td>
                    </tr>
                  </table>
                  </td>
                </tr>
                </table>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="table-in">
                          <tbody>
                            <tr>
                              <td align="left">
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td class="consumer-title">{{trans "Diamond"}} #:</td>
                                      <td class="consumer-name"><a href="{{var diamond_url}}">{{var diamond_id}}</a></td>
                                    </tr>
                                    <tr>
                                      <td class="consumer-title">{{trans "Size"}}:</td>
                                      <td class="consumer-name">{{var size}}</td>
                                    </tr>
                                    <tr>
                                      <td class="consumer-title">{{trans "Cut:"}}</td>
                                      <td class="consumer-name">{{var cut}}</td>
                                    </tr>
                                    <tr>
                                      <td class="consumer-title">{{trans "Color:"}}</td>
                                      <td class="consumer-name">{{var color}}</td>
                                    </tr>
                                    <tr>
                                      <td class="consumer-title">{{trans "Clarity:"}}</td>
                                      <td class="consumer-name">{{var clarity}}</td>
                                    </tr>
                                    <tr>
                                      <td class="consumer-title">{{trans "Cut Grade"}}:</td>
                                      <td class="consumer-name">{{var }}</td>
                                    </tr>
                                    <tr>
                                      <td class="consumer-title">{{trans "Depth"}}:</td>
                                      <td class="consumer-name">{{var depth}}</td>
                                    </tr>
                                    <tr>
                                      <td class="consumer-title">{{trans "Table"}}:</td>
                                      <td class="consumer-name">{{var table}}</td>
                                    </tr>
                                    <tr>
                                      <td class="consumer-title">{{trans "Measurements"}}:</td>
                                      <td class="consumer-name">{{var measurment}}</td>
                                    </tr>
                                    <tr>
                                      <td class="consumer-title">{{trans "Certificate"}}:</td>
                                      <td class="consumer-name">{{var certificate}}</td>
                                    </tr>
                                    <tr>
                                      <td class="consumer-title">{{trans "Price"}}:</td>
                                      <td class="consumer-name">{{var price}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </table>
                  </td>
                </tr>
                </table>
                </td>
              </tr>
			  {{if diamond_url}}
              <tr>
                <td style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;">
                  <div class="center" style="text-align: center;"><a style="color: #fff; text-decoration: underline; background: #3498db; padding: 10px; text-decoration: none;" href="{{var diamond_url}}">{{trans "View This Item"}}</a></div>
                </td>
              </tr>
			  {{/if}}

            <!-- END MAIN CONTENT AREA -->
            </table>

          <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
