<!--@subject {{trans "Request To Schedule A Viewing"}} @-->

<!--@vars {

"var logo_height":"Email Logo Image Height",

"var logo_width":"Email Logo Image Width",

"var template_styles|raw":"Template CSS"

} @-->

<!doctype html>

<html>

  <head>

    <meta name="viewport" content="width=device-width" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>{{trans "Request To Schedule A Viewing"}}</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">

    {{inlinecss file='Gemfind_Ringbuilder::css/email-inline.css'}}

  </head>

  <body class="">

    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">

      <tr>

        <td>&nbsp;</td>

        <td class="container">

          <div class="content">



            <!-- START CENTERED WHITE CONTAINER -->

            <table role="presentation" class="main">



              <!-- START MAIN CONTENT AREA -->

              <tr>

                <td class="wrapper">

                <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                <tr>

                  <td align="center"><a class="logo" href="{{store url=""}}">

                      <img

                                {{if logo_width}}

                                    width="{{var logo_width}}"

                                {{else}}

                                    width="180"

                                {{/if}}



                                {{if logo_height}}

                                    height="{{var logo_height}}"

                                {{else}}

                                    height="52"

                                {{/if}}



                                src="{{var logo_url}}"

                                alt="{{var logo_alt}}"

                                border="0"

                    />

                  </a></td>

                </tr>

                <tr>

                  <td>&nbsp;</td>

                </tr>

                <tr>

                  <td style="border-bottom: 1px solid #e8e8e8;">&nbsp;</td>

                  </tr>

                </table>

                <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="title-table">

                <tr>

                  <td>

                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                    <tr>

                      <td><h2>{{trans "Dear"}} {{var retailerName}},</h2></td>

                    </tr>

                    <tr>

                      <td>

                        <table style="height: 3px; width: 100px;" bgcolor="#26a9e0"></table>

                      </td>

                    </tr>

                  </table>

                  <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="margin-top: 20px;margin-bottom: 20px;" class="consumer-info">

                    <tr>

                      <td><p>{{trans "The following appointment has been scheduled through your website"}}</p></td>

                    </tr>

                    <tr>

                      <td><h2>{{trans "Appointment Calendar:" }}</h2></td>

                    </tr>

                    <tr>

                    <td>

                    </td>

                    </tr>

                  </table>

                  </td>

                </tr>

                </table>

                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                    <tr>

                      <td>

                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="table-in">

                          <tbody>

                            <tr>

                              <td align="left">

                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                                  <tbody>

                                    <tr>

                                      <td class="consumer-title">{{trans "Contact Name:" }}</td>

                                      <td class="consumer-name">{{var name}}</td>

                                    </tr>

                                    <tr>

                                      <td class="consumer-title">{{trans "Email:"}}</td>

                                      <td class="consumer-name">{{var email}}</td>

                                    </tr>

                                    <tr>

                                      <td class="consumer-title">{{trans "Phone:"}}</td>

                                      <td class="consumer-name">{{var phone}}</td>

                                    </tr>

                                    <tr>

                                      <td class="consumer-title">{{trans "Comments:"}}</td>

                                      <td class="consumer-name">{{var hint_message}}</td>

                                    </tr>

                                    <tr>

                                      <td class="consumer-title">{{trans "Location:"}}</td>

                                      <td class="consumer-name">{{var location}}</td>

                                    </tr>

                                    <tr>

                                      <td class="consumer-title">{{trans "Date:"}}</td>

                                      <td class="consumer-name">{{var avail_date}}</td>

                                    </tr>

                                    <tr>

                                      <td class="consumer-title">{{trans "Time:"}}</td>

                                      <td class="consumer-name">{{var appnt_time}}</td>

                                    </tr>

                                  </tbody>

                                </table>

                              </td>

                            </tr>

                          </tbody>

                        </table>

                      </td>

                    </tr>

                  </table>

                <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="title-table">

                <tr>

                  <td>

                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                    <tr>

                      <td><h2>{{trans "The Ring Specifications are"}}:</h2></td>

                    </tr>

                    <tr>

                      <td>

                        <table style="height: 3px; width: 100px;" bgcolor="#26a9e0"></table>

                      </td>

                    </tr>

                  </table>

                  <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="margin-top: 20px;margin-bottom: 20px;" class="consumer-info">

                    <tr>

                    <td>

                    </td>

                    </tr>

                  </table>

                  </td>

                </tr>

                </table>

                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                    <tr>

                      <td>

                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="table-in">

                          <tbody>

                            <tr>

                              <td align="left">

                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">

                                  <tbody>

                                    <tr>

                                      <td class="consumer-title">{{trans "Setting #"}}:</td>

                                      <td class="consumer-name"><a href="{{var ring_url}}">{{var setting_id}}</a></td>

                                    </tr>

                                    <tr>

                                      <td class="consumer-title">{{trans "Style Number"}}:</td>

                                      <td class="consumer-name">{{var stylenumber}}</td>

                                    </tr>

                                    <tr>

                                      <td class="consumer-title">{{trans "Metal Type"}}:</td>

                                      <td class="consumer-name">{{var metaltype}}</td>

                                    </tr>

                                    <tr>

                                    <td class="consumer-title">{{trans "Center Stone Min Carat"}}:</td>

                                    <td class="consumer-name">{{var centerStoneMinCarat}}</td>

                                    </tr>

                                    <tr>

                                    <td class="consumer-title">{{trans "Center Stone Max Carat"}}:</td>

                                    <td class="consumer-name">{{var centerStoneMaxCarat}}</td>

                                    </tr>
                                    <tr>

                                    <td class="consumer-title">{{trans "Price"}}:</td>

                                    <td class="consumer-name">{{var price}}</td>

                                    </tr>
									<tr>
                                    <td class="consumer-title">{{trans "lab:"}}</td>
                                    <td class="consumer-name">{{var lab|raw}}</td>
                                    </tr>

                                  </tbody>

                                </table>

                              </td>

                            </tr>

                          </tbody>

                        </table>

                      </td>

                    </tr>

                  </table>

                </td>

              </tr>
              {{if not_view_item}}
                <tr><td></td></tr>
              {{else}}
                <tr>

                <td style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;">

                  <div class="center" style="text-align: center;"><a style="color: #fff; text-decoration: underline; background: #3498db; padding: 10px; text-decoration: none;" href="{{var ring_url}}">{{trans "View This Item"}}</a></div>

                </td>

              </tr>
              {{/if}}

            <!-- END MAIN CONTENT AREA -->

            </table>

            <div class="closer">

              <p>{{trans "Regards,"}}</p>

              <p>GemFind Network Team</p>

            </div>



           <!-- END CENTERED WHITE CONTAINER -->

          </div>

        </td>

        <td>&nbsp;</td>

      </tr>

    </table>

  </body>

</html>

